@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  
  --color-brand-100: #e0e7ff;
  --color-brand-500: #6366f1;
  --color-brand-900: #312e81;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased font-sans;
}
